<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.rocket.android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.RocketChatWearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <service
            android:name=".push.FirebaseTokenService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".push.WearFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".push.DirectReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="chat.rocket.android.ACTION_REPLY" />
            </intent-filter>
        </receiver>

        <service android:name=".services.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/send-server"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/send-token"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/delete-server"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".starter.ui.StarterActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.ui.MainActivity" />
        <activity android:name=".chatroom.ui.ChatRoomActivity" />
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />


    </application>

</manifest>