<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.rocket.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".RocketChatApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.EntryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>

        <service android:name=".api.ws.RocketChatWSService"/>

        <provider
            android:authorities="chat.rocket.android"
            android:name=".content.RocketChatProvider"
            android:exported="true"/>
    </application>

</manifest>
