<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.rocket.android.draw">

    <application android:name=".DrawApplication">
        <activity
            android:name=".main.ui.DrawingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>